
          
body{

padding: 0%;
margin: 0%;
/* overflow: hidden; */
background-image:url("../images/bg\ 5.jpg");
}


 nav{

background-image: url("../images/img2\ \(1\).jpg");
margin-bottom: 0px;


}
nav li a{

color: cornsilk;
font-family:'Courier New', Courier, monospace;
font-size: 20px;
list-style-type: none;
text-decoration: none;
}

nav li a:hover{

    color: darkorange;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;

}


span{

padding-left: 10px;
color:cornsilk;
font-size: 38px;
font-family:'Times New Roman', Times, serif;
}

.row-content{

    color: white;
    /* margin: 120px 10px 80px 10px; */
  }


/* #stream{

    margin: 30% 0 0 40%;
} */

#cam{

padding: 20px;
width: 50%;
margin: 80px 0 0 32%;
background-color: white;
border: 8px solid black;
transform: translate(-10%, -25%);
border-radius: 30px;

}

h2{

/* transform: translate(-5%, -100%); */
margin-bottom: 10%;
margin-left: 23%; 
margin-top: 40px;
font-weight: bold;
font-family:Georgia, 'Times New Roman', Times, serif;
color: yellowgreen;
}

/* #arrow{

margin-bottom: 10%;
margin-left: -15%;
color: white;
} */


#myCarousel{

    background:#003152;
    margin-top: 15%;
    border: 2px solid gray;
    border-radius: 8px;
    /* width: 300px; */
}

.carousel-item{

    height: 400px;
}

.carousel-item img{

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* min-height: 300px; */
}


#footer{

    margin: 20% 0px 0px 0px;
    background-color: #003152;
    color: white;
}

footer li{

    list-style: none;
    display: inline;
    padding: 8px;

  }

  footer li a{

    color: gray;
    font-size: 20px;
  }

  footer li a:hover{

    color: wheat;
  }



  /* Bouncing Arrow button */

  