body{
    
    margin: 0%;
    padding:50px 0px 0px 0px;
    z-index:0;
   background-color:  #004953;
}

 nav{
   
    background-color: #004182;
}


.logo{
    
	animation: logo-spin infinite 20s linear;
  }



#projName{

    font-family:'Times New Roman', Times, serif;
    color:lightcyan;
	font-size: 30px;
}

ul{

    list-style-type: none;
}

nav li a{
    color: gray;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    
}

nav li a:hover{

    background-color: #111E6C;
    border: 2px solid;
    border-radius: 5px;
    color: white;
}


span{

    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;

}

.jumbotron{

    background-color: #003152;
    margin-top: 50% auto;
    padding: 92px 30px 70px 30px;
    color: white;
}

.jumbH1{

    /* padding: 0px; */
    /* margin: 0px; */
    font-family: 'Times New Roman', Times, serif;
    
}

.row-header{

    margin: 0px;
    padding: 0px;
}

.row-content{

    /* margin: 0px; */
    padding: 35px 10px 35px 20px;
    border: 1px solid gold;
    border-radius: 5px;
    margin: 10% 20% 0px 10%;

}

/* .wrapper{
    color: white;
    width: 100%;
    max-width: 600px;
    background-color: slategray;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    border: 6px solid gray;
    border-radius: 10px;
    position: relative;
    
} */




/* .form label{

    /* padding-right: 40%; */
    /* font-size: 20px; */
    /* font-family:'Times New Roman', Times, serif; */
    /* margin-left: 95px; */

/* } */ 

/* #lbl{

    padding-right: 46%;
} */

/* .form input{
    /* margin-left: 95px; */
    /* border: 5px solid gray; */
    /* border-radius: 10px; */
    /* padding: 12px; */
    /* text-align: center; */
    /* font-family:'Times New Roman', Times, serif; */
    /* text-align: center; */
/* } */

#btn {

    background-color: red;
    width: 46.5%;
    border: 5px solid red;
    border-radius: 10px;
    /* color: white; */
    padding: 5px;
    /* font-size: 18px; */
    font-family:'Times New Roman', Times, serif;
    /* margin-bottom: 20px; */
}

#btn2 {

    background-color: red;
    width: 46.5%;
    border: 5px solid red;
    border-radius: 10px;
    /* color: white; */
    padding: 5px;
    /* font-size: 18px; */
    font-family:'Times New Roman', Times, serif;
    /* margin-bottom: 20px; */
}


form i{

    /* position: absolute; */
    font-size: 20px;
    color: black;
    margin: 15px 0 0 -45px;
}

 #error_message{

    background-color: #fce4e4;
    color: #cc0033;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    padding: 0px;
    align-items: center;
    /* margin-bottom: 20px; */
    font-size: 16px;
    text-align: center;
    transition: all 0.6s ease;
    border-radius: 3px;
    width: 70%;
    margin-left: 3%;
    border-radius: 5px;
    /* float:right; */
    font-family:fantasy;   
}



#footer{

    margin: 10% 0px 0px 0px;
    background-color: #003152;
    color: white;
}

footer li{

    list-style: none;
    display: inline;
    padding: 8px;

  }

  footer li a{

    color:gray ;
    font-size: 20px;
  }
  
  footer li a:hover{

    color: wheat;
    text-decoration: none;
  }

  #copywrite{

    padding-top: 30px;
    text-align: center;
    padding-left: 25px;
  }
   
  