body{
    
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: black;
}

nav{
    background-color: MidnightBlue;
    border-radius: 3px;
    border: 2px solid MidnightBlue;
    /* width: 800px; */
}

#projName{

    font-family:'Times New Roman', Times, serif;
    color:lightcyan;
}

ul{

    list-style-type: none;
}

li a{
    color: white;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    
}

li a:hover{

    color: sienna;
    border: 2px solid;
    border-radius: 5px;
}


span{

    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;

}

.wrapper{
    color: white;
    width: 100%;
    max-width: 650px;
    background-color: slategray;
    transform: translate(-50%, -15%);
    margin-left: 50%;
    border: 6px solid gray;
    border-radius: 10px;
    position: relative;
}

.wrapper h2{

    /* padding-right: 40%; */
    font-family:'Courier New', Courier, monospace;
}

.wrapper form label{

    padding-right: 40%;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

#lbl{

    padding-right: 46%;
}

.wrapper form input{

    width: 60%;
    border: 5px solid gray;
    border-radius: 10px;
    padding: 12px;
    /* text-align: center; */
    font-family:'Times New Roman', Times, serif;
}

#btn {

    background-color: darkgreen;
    width: 45%;
    border: 5px solid darkgreen;
    border-radius: 10px;
    color: white;
    padding: 8px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

form i{

    /* position: absolute; */
    font-size: 20px;
    color: black;
    margin: 15px 0 0 -45px;
}

 #error_message{

    background-color: #fce4e4;
    color: #cc0033;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    padding: 0px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    transition: all 0.6s ease;
    border-radius: 3px;
    width: 58%;
    margin-left: 23%;
    border-radius: 5px;
    float: left;
    font-family:fantasy;   
}